body{
  width:950px;
  margin:0 auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.mainHeader{
   background-image: url("rockpaperscissors.jpg");
   width:950px;
   margin:0 auto;
   height:150px;
   font-size: 20pt;
   text-align: center;
}
#mainDiv{
   margin-top: 15px;
}
.imgClass{
    margin-right: 15px;
    padding:3px;
    border: 3px darkturquoise groove; 
}
#p4{
    color: darkslategray; 
}